@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Basic Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  color: #3c3c3c;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 30px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  color: #3a3a3a;
}

h1 {
  margin-bottom: 30px;
}

section {
  margin-bottom: 40px;
  border: 1px solid black;
  padding: 20px 40px 30px;
  border-radius: 15px;
  border-width: 0;
}

section.info {
  padding: 0;
  border: none;
}

table {
  margin: 0 auto;
}



/* Other Styles */

/* section.info */

.info {
  display: flex;
}

.info-img {
  width: 250px;
  margin-right: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px rgb(0, 0, 0, .5)
}

.info-text-item {
  margin-bottom: 10px;
}

.info-text-item:last-child {
  margin-bottom: 0;
}

.info-text-item span {
  font-weight: bold;
}

.info-text-item:last-child span {
  font-weight: normal;
  font-style: italic;
}

@media (max-width: 650px) {
  .info {
    display: block;
    text-align: center;
  }

  .info-img {
    margin: 0 0 20px;
  }

  .info-text {
    display: flex;
    flex-wrap: wrap;
  }

  .info-text-item {
    flex: 1 1 50%;
  }

  .info-text-item:nth-child(3) {
    flex-basis: 100%;
  }
}

/* section.goals */

.goals {
  background-color: rgba(0, 200, 230, 0.2);
}

.goals-list {
  list-style-type: none;
}

.goals-list li {
  padding: 15px 10px;
}

.goals-list li:nth-child(even) {
  background-color: rgba(0, 200, 230, 0.25);
  border-radius: 15px;
}

.goals-list li:last-child {
  margin-bottom: 0;
}

/* section.study-time */

.study-time {
  background-color: rgba(230, 230, 50, 0.2);
}

.study-time-table td {
  padding-bottom: 8px;
}

.study-time-table td:first-child {
  padding-right: 80px;
}

.study-time-table tr:last-child td {
  padding-bottom: 0;
}